.main {
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #8acdea;
}

button {
  height: 40px;
  margin: 10px auto;
  background-color: #9e643c;
  border-radius: 5px;
  border: rgb(94, 94, 94) 1px solid;
  font-size: 18px;
  color: #ede6f2;
}

.check {
  height: 18px;
  width: 18px;
}

label {
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
}

select {
  margin-right: 10px;
  height: 40px;
  font-size: 18px;
}

.contenedor {
  background-color: #b0ddf0;
  padding: 10px;
  border-radius: 5px;
}

.contenedor div {
  font-size: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
